*{
	margin:0;
	padding:0
}

body{
	overflow: hidden;
}

.bg{
	background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	background-image: url("./Background.jpg");
}

#game{
	visibility: hidden;
}

#startgame{
	display: flex;
	visibility: visible; 
	justify-content: center;
}

#startgame h4{
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (orientation:landscape){
	#startgame h4{
		visibility: hidden;
	}
}

#instrctions{
	visibility: hidden;
}

#prof{
	width: 22vw;
	height: 30vw;
	position:absolute;
	left:0;
	bottom:0
}

#helpText{
	background-color: red;
	position:absolute;
	left:18%;
	right:5%;
	bottom:0;
	height:50%;
	padding:20px;
	border: solid #fff;
	border-radius: 50px;
}

#helpText #text{
	width: 85%;
	height: 95%;
	font-size: 5vh;
	overflow: auto;
	text-overflow: ellipsis;
}

#text::-webkit-scrollbar {
	display: none;
}

#instrctions #ship{
	width: 29vh;
	height: 26vh;
	position: absolute;
	left: 77vh;
	top: 5vh;
}

#instrctions button{
	position:absolute;
	right: 5%;
	height: 10%;
	width: 10%;
	background-color: blue;
	color: #fff;
	font-size: 3.5vh;
	border: solid #000;
	border-radius: 5px;
	cursor: pointer;
}

#instrctions #skip{top: 60%;}
#instrctions #next{top: 30%;}

.spaceship{
	background-image: url("./spaceship.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 22vw;
	height: 17vw;
	position:absolute;
	left:40vw;
	bottom:0;
	animation: 
	    in 20s linear,
	    updown 2s infinite linear;
}

.asteroid{
	background-image: url("./asteroid1.png");
	background-repeat: no-repeat;
	position:absolute;
	background-size: cover;
	animation: 
	    shake  0.5s infinite,
	    asteroidComing  3s linear;
	width: 25vw;
	height: 25vw;
	left: 39vw;
	top: 0;
	opacity: 1;
}

#collision {
	position: absolute;
	width: 50vh;
	height: 50vh;
	bottom: 10vh;
	left: 40vw;
    animation: grow 2s;
}

button.start{
	position:relative;
	top: 50vh;
	width: 25%;
	height: 50px;
	border-radius: 10px;
	font-size: 30px;
	color: #fff;
	background-color: red;
	border: solid #fff;
	cursor: pointer;
	animation: shake 5s infinite;
}

button.start:hover{
	background-color: rgb(201, 0, 0);
}

#questions{
	background-color: rgb(0, 0, 126, 0.8);
	position: absolute;
	left: 8vw;
	top: 8vh;
	width: 75vw;
	height: 50vh;
	border: solid #fff;
	border-radius: 20vh;
	padding: 5vw;
	visibility: hidden;
}


.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 0;
	width: 70%;
	margin:auto;
}

.grid-container > div {
	padding-top: 50px;
	padding-bottom: 30px;
	font-size: 30px;
	text-align: center;
	color: rgb(233, 233, 233);
}

#submitbutton{
	display: flex;
	position:absolute;
	justify-content: center;
	left: 37vw;
	width: 10vw;
    height: 7vh;
	font-size: x-large;
}

#Q > h1{
	text-align: center;
	color: rgb(233, 233, 233);
}

#startAgain{
	left: 37.5vw;
	top: 60vh;
	position:relative;
	width: 25%;
	height: 10vh;
	border-radius: 10px;
	font-size: 30px;
	color: #fff;
	background-color: red;
	border: solid #fff;
	cursor: pointer;
}

#endGame{
	color: rgb(198, 253, 191);
	font-size: 20vh;
	text-shadow: 0 0 30px #1eff00;
	position: absolute;
	text-align: center;
	top: 20vh;
	width: 48vw;
	left: calc(50vw - (48vw/2));
}

#end{
	visibility: hidden;
}

/* All Animations Below */

@keyframes in{
	0%{bottom:-17vw;}
	100%{bottom: 0;}
}

@keyframes updown{
	0%{bottom:0;}
	50%{bottom:-10px;}
	100%{bottom: 0;}
}

@keyframes asteroidComing{
	0%{		
	    width: 5vw;
	    height: 5vw;
	    left:48vw;
	}
}

@keyframes descend{
	65%{
		top: 80vh;
	}
	100%{
		width: 22vw;
		height: 21vw;
		left:40vw;
		top: 63vh;
	}
}

@keyframes zoomIn{
	0%{
		opacity: 0;
		position:absolute;
		width: 25vw;
		height: 25vw;
		left: 39vw;
	}
	50%{opacity: 0;}
}

@keyframes zoomIn2{
	0%{
		top: 50vh;
		font-size: 1px;
		width:1vw;
		height:1vh;
		left:50vw;
	}
}

@keyframes fade{
	100%{opacity: 0;}
}

@keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

@keyframes asteroid_c1 {
	0%{top: 0;}
	75%{top: 20vh;}
	100%{top: 20vh;}
}

@keyframes grow {
	0%{
		opacity:0%;
		width:7vh;
		height:7vh;
		bottom:27vh;
		left:50vw;
	}
	75%{
		opacity:0%;
		width:7vh;
		height:7vh;
		bottom:27vh;
		left:50vw;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes dodge_s_r {
	50%{
		left:70vw;
	}
}

@keyframes dodge_s_l {
	50%{
		left:10vw;
	}
}

@keyframes dodge_a {
	100%{
		top: 120vh;
	}
}

@keyframes escape {
	100%{
		bottom: 120vh;
	}
}